.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  background-color: #fff;
  
}
.container{
  display: flex;
  flex-direction: column;
  text-align: center;
}

html{
  font-size: 120%;
}
